%nav.panel
  %p.panel-heading Actions
  %a{:href => "/regions", :class => "panel-block"}
    %span.panel-icon 
      %i.fas.fa-globe-americas 
    All Regions 
  %a{:href => "/restaurant/new", :class => "panel-block"}
    %span.panel-icon 
      %i.fas.fa-utensils 
    New Restaurant 