.columns 
  .column.is-one-half
    .box 
      %p Restaurants Visited:
      %p.subtitle= number_of_restaurants
  .column.is-one-half
    .box 
      %p Regions Visited:
      %p.subtitle= regions.count