body {
  font-family: 'Open Sans', sans-serif;
  color: #1C1F21;
  background-color: #FFF5EB;
}

h1 h2 h3 {
  font-family: 'Reem Kufi', sans-serif
}

ul {
  list-style-type: disc;
}

.nav-title {
  cursor: pointer;
}