.hero.is-medium{ style: "background: url(#{@region.img_url}) no-repeat center" }
  .container
    .hero-body
      %h2.title.city-title= "Restaurants of #{@region.city}"

.section 
  .container
    = react_component("RestaurantView", { restaurants: @restaurants } )
